<!-- IF TGT_TRANSLATOR_ENABLE -->
<li style="float: right; margin-top: -20px;" ><h3 class="toogle" style="cursor: pointer; color: #{TGT_CODECOLORS};"><img src="{BOARD_URL}ext/galandas/tgtrad/styles/all/theme/images/{TGT_CODETONGUE}" alt="" />{TGT_TRANSLATOR_MADRE}</h3>
<div class="togglebox">
<!-- Start Toggle Google Translator Widget for phpBB by Galandas -->
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- End Toggle Google Translator Widget for phpBB by Galandas -->
</div></li>
<!-- ENDIF -->