/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			Celtic Dreams
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Joyce&Luna ( https://phpbb-style-design.de/ )
    --------------------------------------------------------------
*/

@import url("../../prosilver/theme/normalize.css?v=1.2.8");
@import url("../../prosilver/theme/base.css?v=1.2.8");
@import url("../../prosilver/theme/utilities.css?v=1.2.8");
@import url("common.css?v=1.2.8");
@import url("links.css?v=1.2.8");
@import url("content.css?v=1.2.8");
@import url("../../prosilver/theme/buttons.css?v=1.2.8");
@import url("../../prosilver/theme/cp.css?v=1.2.8");
@import url("forms.css?v=1.2.8");
@import url("icons.css?v=1.2.8");
@import url("colours.css?v=1.2.8");
@import url("responsive.css?v=1.2.8");
@import url("celtic.css?v=1.2.8");
