<!-- IF S_INDEX -->
    <div id="menu-outer" class="rightside responsive-hide">
        <div class="navbar">
            <ul id="nav-main" class="linklist bulletin" role="menubar">
                <div class="table">
                    <ul id="horizontal-list">
                        <div id="clock_wash"></div>
                        <div id="clock_uk"></div>
                        <div id="clock_berlin"></div>
                        <div id="clock_moscow"></div>
                        <div id="clock_tokyo"></div>
                        <div id="clock_canberra"></div>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
    </br>
<!-- ENDIF -->
