#social {
	margin: 20px 10px;
	text-align: right;
}

.global-button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 25px;
	height: 25px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 15px;
	vertical-align: middle;
}

.global-button:hover { text-decoration: none; }

.facebook-button {
	background: #4060A5;
}

.facebook-button:before {
	font-family: "FontAwesome";
	content: "\f09a";
}

.facebook-button:hover {
	color: #4060A5;
	background: #fff;
}

.x-button {
	background: #000000;
}

.x-button::before {
	content: '';
	width: 13px;
	height: 13px;
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-mask-image: url('./images/x.svg');
	mask-image: url('./images/x.svg');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}

.x-button:hover {
	background: #ffffff;
}

.x-button:hover::before {
	background-color: #000000;
}

.reddit-button {
	background: #ff4500;
}

.reddit-button:before {
	font-family: "FontAwesome";
	content: "\f281";
}

.reddit-button:hover {
	color: #ff4500;
	background: #fff;
}

.vk-button {
	background: #4a76a8;
}

.vk-button:before {
	font-family: "FontAwesome";
	content: "\f189";
}

.vk-button:hover {
	color: #4a76a8;
	background: #fff;
}

.tumblr-button {
	background: #3a5876;
}

.tumblr-button:before {
	font-family: "FontAwesome";
	content: "\f173";
}

.tumblr-button:hover {
	color: #3a5876;
	background: #fff;
}

.whatsapp-button {
	background: #25d366;
}

.whatsapp-button:before {
	font-family: "FontAwesome";
	content: "\f232";
}

.whatsapp-button:hover {
	color: #25d366;
	background: #fff;
}

.bluesky-button {
	background: #1185FE;
}

.bluesky-button::before {
	content: '';
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-mask-image: url('./images/bluesky.svg');
	mask-image: url('./images/bluesky.svg');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}

.bluesky-button:hover {
	background: #ffffff;
}

.bluesky-button:hover::before {
	background-color: #1185FE;
}
