.headerbar #search-box {
    display: none !important;
}
.random{
    width:100%;
    border-radius: 5px;
}
.headerbar #header-image {
    float: top;
    float: right;
    margin: 5px;
}
.rtl .headerbar #header-image {
    float: left;
}
.navbar #search-box{
    box-shadow:none;
    float:right;
    margin: auto;
    padding: 5px;
}
.rtl .navbar #search-box{
    float:left;
}
.navbar #search-icon {
    border-radius: 0px 4px 4px 0px;
}
.rtl .navbar #search-icon {
    border-radius: 4px 0px 0px 4px;
}
